

.icons:hover {
    background-color:#b911c816;
  }
  .IconButton:hover {
    background-color: lightgray;
  }
  .icons.active {
    background-color:#b911c816;
}
.btnicon:hover{
      background-color:rgb(227, 227, 227);

  }
  .divList{
    position: absolute;
    margin-left: 10pc;
    margin-top: 7pc;
    z-index: 999;  
    cursor: pointer;
  }
