.modal-overlay {
  position: relative;

  width: 33%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.508);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  margin-left: 60%;
  border-radius: 10px;
}

.modal-content {
  background-color: #7b00ff;
  padding: 20px;
  border-radius: 4px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="file"] {
  width: 80%; /* Take up full width of the container */
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button[type="submit"] {
  /* Existing styles */
}
