.article-card {
  width: 250px;
}
.article-card-icon {
  margin-left: 10px;
}

.article-image {
  background-color: rgb(72, 24, 76, 0.08);
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  padding: 10px;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {
  color: #edcc3f;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.stock-label {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 12px;
  background-color: #48184c;
  color: white;
  border-radius: 20px;
}

.rating {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 6px 12px;
  background-color: white;
  color: #48184c;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 992px) {
  .header-icon {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .header-icon-responsive {
    display: none !important;
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
