.ant-picker {
    border-color: #bfbab7
  }

  .ant-picker-dropdown{
    z-index: 1056;
}
.transformScale:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
  background-color: rgba(220, 53, 69, 0.3);

}