/* no circle */
.flickity-button {
  background: transparent;
  position: absolute;
}
/* .true:hover .flickity-button-icon {
  background: blue;
} */
.next {
  left: 0;
  top: 50%;

  transform: translate(0%, -50%) rotate(-180deg);
}
.previous {
  right: 0;
  top: 50%;
  transform: translate(0%, -50%) rotate(180deg);
}
.flickity-button:hover {
  background: transparent;
  color: black;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
.flickity-button-icon {
  fill: rgba(102, 51, 153);
}
.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.sessions {
  /* box-shadow: 4px -4px 5px -1px rgba(213, 184, 255, 0.76); */
  /* filter: blur(6px); */
  /* text-align: center; */
  border: 0px;
  outline: 0px;
  background: transparent;
  border: none;
  position: relative;
  max-width: 80vw;
  height: 100%;
  /* overflow: hidden; */
  margin: auto;
}
.carousel {
  /* box-shadow: 4px -4px 5px -1px rgba(213, 184, 255, 0.76); */
  /* filter: blur(6px); */
  /* text-align: center; */
  border: 0px;
  outline: 0px;
  background: transparent;
  border: none;
  position: relative;
  max-width: 80vw;
  height: 100%;
  /* overflow: hidden; */
  margin: auto;
}
.article {
  /* box-shadow: 4px -4px 5px -1px rgba(213, 184, 255, 0.76); */
  /* filter: blur(6px); */
  /* text-align: center; */
  border: 0px;
  outline: 0px;
  background: transparent;
  border: none;
  position: relative;
  max-width: 80vw;
  height: 100%;
  /* overflow: hidden; */
  margin: auto;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.blog-card {
  margin-top: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  /* float: right; */
  /* max-width: px;
  width: 100%; */
  /* height: 335px; */
  border-radius: 15px;
  counter-increment: blog-card;
  transition: all 0.3s ease;
  opacity: 0.3;
  background: #b9b9b9;
  filter: blur(6px);
  pointer-events: none;
}
.blog-card.is-selected {
  filter: blur(0);
  opacity: 1;
  background: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article-card {
  margin-top: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  /* float: right; */
  /* max-width: px;
  width: 100%; */
  /* height: 335px; */
  border-radius: 15px;
  counter-increment: article-card;
  transition: all 0.3s ease;
  opacity: 0.3;
  background: #b9b9b9;
  filter: blur(6px);
  pointer-events: none;
}
.article-card.is-selected {
  filter: blur(0);
  opacity: 1;
  background: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-sessions {
  margin-top: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  /* float: right; */
  /* max-width: px;
  width: 100%; */
  /* height: 335px; */
  border-radius: 35px;
  counter-increment: card-sessions;
  transition: all 0.3s ease;
  opacity: 0.3;
  background: #b9b9b9;
  filter: blur(6px);
  pointer-events: none;
}
.card-sessions.is-selected {
  filter: blur(0);
  opacity: 1;
  background: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
