.blogListWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 40px 50px 0;
}
.dropdownToggleBlogCard:after{
  display: none !important;
}
@media (max-width: 768px) {
  .blogListWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blogListWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes blinking {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.ellipsis-btn:hover {
  background-color: #7915a7;
}

.dropdown-toggle {
  white-space: nowrap;
}

.blogItemWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.blogItemWrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-color: #333;
}

.blogItemWrapper:hover .BlogItemTitle {
  text-decoration: underline;
}

.blogItemCover {
  width: 100%;
  height: 345px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.chip {
  font-size: 0.7rem;
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  width: fit-content;
  text-transform: capitalize;
  margin: 0 20px;
}
.blogItemDescription {
  max-height: 100px;
  overflow: hidden;
  font-size: 0.8rem;
  color: #a9a9a9;
  transition: color 0.2s ease-in-out;
  margin: 0 20px;
}

.blogItemDescription:hover {
  color: #333;
}
.blogItemFooter {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.blogItemAuthorAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.greetingText {
  margin-bottom: 20px;
  font-size: 50px;
  /* line-height: 1.1; */
  text-align: center;
  white-space: pre-line;
  color: #000000;
}

@media (max-width: 768px) {
  .GreetingText {
    font-size: 30px;
    text-align: center;
  }
}
.LandingPerson {
  max-width: 50%;
  height: auto;
}
.goBackLink {
  text-decoration: none;
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
  cursor: pointer;
}

.bookMarkIcon {
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 2rem;
  /* Responsive adjustments */
  @media (max-width: 768px) {
    top: -20px;
  }

  @media (max-width: 480px) {
    top: -30px;
  }
}
.categoryInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0.5rem;
}
.categoryLabel {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}
.subCategoryList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.blogItemAuthorAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}
.moreFromAuthor {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3a0b50;
  text-decoration: underline;
  font-style: italic;
}
.sideBlogTitle {
  flex: 1;
}
.spanBlog {
  color: #6c757d;
  font-size: 0.8rem;
}
.sideBlogImage {
  width: 120px;
  height: 90px;
  object-fit: cover;
  margin-left: 8px;
  border-radius: 15px;
}
.ellipsis-toggle {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
}

.ellipsis-toggle::after {
  display: none;
}
