
.table-responsive {
    position: relative;
    border: 1px solid #ddd;
    max-width: 100%;
  }
  
  .table-responsive table:first-child {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    z-index: 1;
  }
  
  .table-responsive table:first-child th {
    padding: 8px;
  }
  
  /* .table-responsive button {
  } */
  .table-responsive::-webkit-scrollbar {
    display: none;
  }
  

