.cart-container {
  width: 40%;
}

.checkout-form {
  width: 60%;
  margin-left: 2rem;
}

.confirm-button {
  border: 1px solid #48184c;
  border-radius: 5px;
  padding: 10px 150px;
  background-color: rgb(72, 24, 76, 0.08);
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 600;
  margin-top: 5px;
}

.confirm-button:hover {
  background-color: #48184c;
  transition: 0.7s;
  color: rgb(255, 255, 255);
}
