.bg-darkPurple {
  background-color: #48184c;
}

.bg-yellow {
  background-color: #edcc3f;
}

.rtl {
  direction: rtl;
}

.text-color-grey {
  color: #bfbfbf;
}

.text-color-white {
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.article-card-icon {
  margin-left: 10px;
}
