.bg-darkPurple {
  background-color: #48184c;
}

.bg-yellow {
  background-color: #edcc3f;
}

.text-color-grey {
  color: #bfbfbf;
}

.text-color-white {
  color: #ffffff;
}

.text-color-black {
  color: #000000 !important;
}




