
  
.TrainingHeading {
    font-size: 24px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
 
    .TrainingHeading {
      font-size: 20px;
    }
  }

.HorizontalMenu {
    display: flex;
    overflow-x: auto;
  }
  

  .horizontal-item {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  

  .horizontal-item-publishingHouse img {
    max-width: 100%;
    height: auto;
  }
  

  @media (max-width: 768px) {
   
    .HorizontalMenu {
      overflow-x: scroll;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .horizontal-item {
      flex: 0 0 120px; 
      margin-right: 5px;
    }
  }
  