.Menuhorizontal {
  margin-top: 50px;
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  padding: 16px;
  gap: 16px; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 

}


.Menuhorizontal::-webkit-scrollbar {
  display:contents;
}

.horizontal-item {
  flex-shrink: 0; 
  width: 200px; 
  height: 150px; 
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start; 
}

.horizontal-item img {
  width: 90%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
  border: 3px solid rgba(70, 4, 74, 0.483); /* Set the border color and style */
}



@media screen and (max-width: 768px) {
  .horizontal-item {
    width: 150px; 
    height: 120px; 
  }
}


@media screen and (max-width: 425px) {
  .Menuhorizontal {
    gap: 8px; 
  }

  .horizontal-item {
    width: 120px; 
    height: 80px; 
  }
}
.text-p{
  color: white;
}