.sidebar {
  width: 300px;
  height: 100vh;
  color: white;
}
.sidebarHeader {
  height: 70px;
}
.sidebarContent {
  text-decoration: none;
}
.sidebarItem {
  height: 50px;
  text-decoration: none;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}

.header {
  height: 70px;
  width: 100%;
}
.headerLeft {
  margin-left: 300px;
  margin-right: 300px;
}

.headerRight {
  margin: 10px;
}


