@media only screen and (max-width: 900px) {
  .chatContainer {
    flex-direction: column !important;
  }
  .optionChat {
    justify-content: end !important;
    align-items: center !important;
  }
}
@media only screen and (min-width: 900px) {
  .imageCoverTrainings {
    max-width: 400px !important;
  }
}
@media (max-width: 1300px) {
  .mentor4 {
    max-width: 50% !important;/* Adjust the desired width here */
    height: auto !important;
  }
}

@media (max-width: 1306px) {
  .mentor6 {
    max-width: 30% !important; /* Adjust the desired width here */
    height: auto !important;
  }
}

@media (max-width: 618px) {
  .mentor4 {
    max-width: 0% !important; /* Adjust the desired width here */
    height: auto !important;
  }
}
@media (max-width: 875px) {
  .mentor6 {
    max-width: 0% !important; /* Adjust the desired width here */
    height: auto !important;
  }
}
