@media only screen and (max-width:  900px) {
    .chatContainer{
        flex-direction: column !important;
    }
    .optionChat{
        justify-content: end !important;
        align-items: center !important;
    }
}
@media only screen and (min-width: 900px) {
  .imageCoverTrainings {
    max-width: 400px !important;
  }
}

@media only screen and (min-width: 900px) {
  .imageCoverTrainings {
    max-width: 400px !important;
  }
}
@media (min-width: 992px) {
  .lg-hide {
    display: none !important;

  }
  .hidden-padding{
    padding: 0px !important;
  }
}
@media (max-width: 992px) {
  .md-hide {
    display: none !important;
  }
}
