@media only screen and (max-width: 600px){ 
    .nav{
        width: 343px;

    }
}
@media only screen and (min-width: 768px){
    .nav{
        width: 1117px;

    }
 }

 .upbtn{
    width: 30px !important;
    height:  30px !important;
    text-align: center !important;
    border-radius: 100% !important;
    background-color: #4a0e65 !important;

  }

  .upbtn:hover{
    background-color: #3a0b5042 !important;
    border-radius: 20px !important;
  }
 
.edit-form{
    width: 735px !important;
}


.label-btn {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.label-btn:hover {
  background-color: #f5f5f5;
}

.navbar-nav{
    width: auto !important ;
    display:flex !important ;
    flex-direction:row !important;
    flex-wrap: wrap  !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    white-space:nowrap !important;
    }

    /* @media only screen and (max-width: 800px){ 
        .navbar-nav{
           
            flex-wrap: wrap !important
    
        }
    } */
   /* .nav{
    display:  !important;
   } */