.navbar_search_bar {
  font-size: 1.5rem;

  padding: 0.5rem 2.7rem;
  border: rgba(102, 51, 153);
  border: none;
  transition: all 0.5s ease;
  border-radius: 1rem;
}
.search_bar_icon {
  position: absolute;

  top: 50%;
  left: 2%;
  max-width: 2rem;
  transform: translate(0, -50%);
}
.navbar_search_bar:focus {
  transform: scale(1.1);
}
.navbar_search_bar:focus .search_bar_icon {
  transform: scale(1.7);
}
