.imgcoche{
    display: flex;
    gap: 15px
}

@media (max-width: 400px) {
    
    .imgcoche{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
  }


  .tableWhatPrerequis{
    display: flex;
    gap: 4px
  }

  @media (max-width:540px) {
    .tableWhatPrerequis{
        display: flex;
        align-items: flex-start;
        flex-direction: column; 
    }
  }