/* spaceJalyssCom */
.headerspaceitem:hover{
    background-color:rgb(208, 78, 204);
  }
  .whyUs:hover{
    background-color:rgb(185, 182, 188);
    
  }
  .transition:hover{
    transform: scale(1.1);
  }
  .headerspaceitem:hover {
    transform: scale(1.1);
  }
  .carousell{
    width: 1460px;
     height: 650px;
    margin-bottom: -100px;
  }
  .responsive-img {
    max-width: 100%;
     height: auto;
    border-radius: 20px; /* Add border-radius if needed */
  }
  .firstLine{
  font-size: 1.3rem;
  color: red;
  margin-top: 30px;
  text-align: center;
  }
  .secondLine{
    font-size: 4.5rem;
  color: purple;
  margin-top: 20px;
  text-align: center;
  }
  .thirdLine{
    font-size: 0.9rem;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  text-align: center;
  }
  .fourthLine{
    font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  text-align: center;
  }
  
  /* coworkingZone */
  .serviceType{
    margin-left: 20px;
    color: black;
    font-size: 1.7rem;
  }
  .price{
    margin-left: 10px;
    color: red;
    font-size: 0.8rem;
  }
  .priceNumber{
    margin-left: 10px;
     color: red;
    font-size: 2.8rem;
    text-decoration: none;
  }
  .soustitle{
    margin-left: -20px;
    color: black;
    font-size: 0.7rem;
  }
  .serviceInfo{
    margin-left: 40px;
    color: black;
    font-size: 0.9rem;
  }
  .serviceCard:hover{
    transform: scale(1.1);
    background-color: rgb(198, 196, 196);
  
  }
  .serviceCard{
    margin: 25px;
    margin-top: 80px;
   border-radius: 50%;
    width: 290px;
    left: 28px;
    transition: "all 1.6s ease-in-out",
  }
  