body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('./assets/styles/color.css');
@import url('./assets/styles/standardStyle.css');
@import url('./assets/styles/pagesAndViewStyles.css');
@import url('./assets/styles/noPageStyle.css');
@import url('./assets/styles/invoice.css');
@import url('./assets/styles/signup.css');
@import url('./assets/styles/layoutStyles.css');
@import url('./assets//styles/training.css');
@import url('./assets/styles/blogs.css');
@import url('./assets/styles/mediaScreensStyles.css');

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
